@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root{
    --body-color:#121216;
    --title-font:'Questrial', sans-serif;
    --body-font:'Roboto', sans-serif;

    --titulos_medio:deezer;
    --parrafos_medio:'Roboto', sans-serif;

    --color-bg-color: #121216;
    --color-black-color: #000;
    --color-white-color: #fff;
    --color-gray-color: #92929d;
    --font-deezer-font: deezer;
  }

@font-face {
  font-family:deezer;
  src: url(../deezer-regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--body-color);
    color: white;
    font-family: var(--body-font);
}

.container_cards h1, .container_cards h2{
    font-family: deezer;
    text-align: center;
    font-weight: 400;
}

nav a, .container_cards a{
    text-decoration: none;
    color: white;
}

nav{
    padding: 20px 60px 20px 50px;
    height: 115px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 12px;
    font-weight: bold;
    position: relative;
}

nav::before{
  content: "";  
  inset: 0;
  width: 80%;
  height: 45vh;
  background: linear-gradient(126.05deg,rgb(241 42 42/90%) 25.95%,#bf1ceb 44.46%,#06ad57 65.35%,rgb(6 173 87/60%) 76.7%);;
  border-radius:100%;
  filter: blur(90px) opacity(.60);
  margin: 0 auto;
  top: 20px;
  z-index: -10;
  position: absolute;
}

header{
  position: relative;
}

header .bx-menu{
  font-size: 40px;
  position: absolute;
  bottom: 55%;
  right: 20px;
}

.socio_tigo img{
  width: 20px;
  height: 20px;
}

.socio_tigo span{
  margin-bottom: 18px;
}

.socio_tigo{
  padding:20px 30px;
  display: none;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(82 82 93);
  border-radius: 10px;
}

.login_button{
  height: 42px;
  padding: 8px 16px;
  font-size: 12px;
  text-transform: uppercase;
  background-color: var(--body-color);
  color: white;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 100px;
  font-weight: bold;
  display: none;
  align-items: center;
}

.title_section_one{
    margin:-40px 0 0;
    font-size: 24px;
    text-align: center;
    font-family: deezer;
}

.container_cards{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0px;
}

.plan_description{
    font-size: 14px;
    font-weight:normal
}

.logo_deezer{
    height: 24px;
    width: 117px;
    position: absolute;
    margin: 20px auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.plan_card{
    max-width: 343px;
    width: 100%;
    padding: 16px 16px 8px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.purple_card{
    background: linear-gradient(57.8deg,#6b42b4 9.75%,#943aab 95.44%);
    margin-bottom: 25px;
}

.yellow_card{
    background: linear-gradient(53.13deg,#dc4c11 10.71%,#feab2e);
    margin-bottom: 25px;
}

.blue_card{
  background: linear-gradient(69.06deg,#b84fdd -26.76%,#4965f4 44.6%,#2efb74 132.54%);
  margin-bottom: 15px;
}

.plan_card h2{
    margin: 0 0 12px;
    font-size: 24px;
    max-width: 300px;
}

.button_card{
    background-color: var(--body-color);
    filter: drop-shadow(0 10px 16px rgba(0,0,0,.3)) drop-shadow(0 16px 32px rgba(0,0,0,.1));
    border-radius: 400px;
    padding: 8px 20px;
    margin:14px 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    width: 283px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_card:hover{
  background-color: white;
  color: var(--body-color);
}

.text_information{
    font-size: 14px;
    margin-bottom: 6px;
}

.time_card{
    font-size: 32px;
    font-weight: bold;
}

.price_card{
    font-size: 16px;
    margin-bottom: 24px;
}

.info{
  font-size: 12px;
}

.link{
    text-decoration: underline;
    opacity: 0.7;
}

.logo_tigo{
    width: 25px;
    margin-top: 24px;
}

.socio_card{
    background: linear-gradient(180deg,#202122,#3a3b47 55.56%);
    margin-bottom: 25px;
}

.socio_card .button_card{
    margin-bottom: 0;
}

.dropdown{
  display: flex;
  flex-direction: row;
  margin: 0 auto 15px;
  max-width: 343px;
  width: 100%;
  border: 1px solid rgb(146 146 157);
  border-radius: 100px;
  justify-content: center;
  position: relative;
  font-size: 14px;
  padding: 9px 40px;
  font-weight: bold;
}

.discount{
  padding: 3px 10px;
  border-radius: 100px;
  position: absolute;
  margin: 0 8px 0 0;
  line-height: 1.3333;
  right: 0;
  top: 4.5px;
}

.label_hide, .label_hide_two{
  width: 100%;
  max-width: 600px;
}

.mabry{
  font-family: deezer;
}

.time_card{
  font-size: 24px;
}

.card_one, .card_two{
  display: none;
}

.drop_one, .drop_two{
  cursor: pointer;
}

#hide:checked ~ .card_one, #hide_two:checked ~ .card_two{
  display: flex;
}

#hide:checked ~ .label_hide, #hide_two:checked ~ .label_hide_two{
  display: none;
}

input[type=radio]{
  display: none;
}

@media (min-width:768px){
  .login_button{
    display: flex;
  }

  header .bx-menu{
    display: none;
  }

  nav::before{
    width: 72%;
    height: 55vh;
    filter: blur(90px) opacity(.35);
    top: 50px;
  }

  .logo_deezer{
    margin:auto;
  }

  .plan_card{
    max-width: 600px;
    padding: 24px 80px 16px;
    font-size: 16px;
  }

  .container_cards{
    margin: 48px 0;
    row-gap: 25px;
  }

  .button_card{
    width: 338px;
    height: 54px;
    margin:24px 0;
  }

  .plan_card h2{
    font-size: 38px;
    margin: 0 0 18px;
    line-height: 45px;
  }

  .plan_description{
    font-size: 16px;
  }

  .blue_card{
    margin-bottom: 0;
  }

  .dropdown{
    max-width: 600px;
    font-size: 16px;
    margin: auto;
    padding: 9px 60px;
  }

  .time_card{
    font-size: 32px;
  }

  .title_section_one{
    margin: 48px 0;
    font-size: 42px;
  }

  .info{
    font-size: 14px;
  }
}

@media (min-width:1160px) {
  .socio_tigo{
    display: flex;
  }
}

/*SECCIÓN 2*/


.h2_medio{
  font-family: var(--titulos_medio);
  font-size: 42px;
  font-weight:700;
  width: 640px;
  height: auto;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.h3_medio{
  font-family: var(--titulos_medio);
  font-size: 29px;
}

.contenido_1{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: white;
}

.botones{
  background-color: white;
  border-radius: 100px;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 45px;
  padding: 20px 37px;
  text-align: center;  
}

.descubrir{
  font-family: var(--parrafos_medio);
  text-decoration: none; 
  color: black;
  font: size 14px;
  width: auto;
  height: auto;
  font-weight: bold;
  

}

.parrafos_medio{
  color: #BEBEC7;
  font-family:var(--parrafos_medio);
  margin-top: 20px;
  text-align: center;
  font-size:16px;
  width: 600px;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
}

.imagenes_medio{
  max-width: 760px;
}

.imagenes_galeria{
  width: 215px;
}

.galeria{
  overflow: hidden;
  display:flex;
  text-align: center;
  justify-content: center;
}

.pares_galeria{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}


.imagen_corazon{
  position: relative;
}

.texto_imagen{
  font-family: var(--parrafos_medio);
  font-size: 16px;
  font-weight: bold;
  color: black;
  position: absolute;
  bottom: 10px;
  margin: 0 auto;
  left: calc(50% - 45px);
}

.parrafos_galeria{
  color: #BEBEC7;
  font-family:var(--parrafos_medio);
  margin-top: 10px;
  font-size: 16px;
}

.linea_divisoria{
  background-color: #32323d;
  width:200px;
  height: 2px;
  margin: 0 auto;
}

.conjunto_division{
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  width: auto;
  height: auto;
}

.novedades{
  color: white;
  font-family:var(--parrafos_medio);
  font-size: 14px;
  margin-bottom: 25px;
  width: 90px;
  height: auto;
} 

.pares_galeria i{
  font-size: 26px;
  position: absolute;
  left: 10px;
  bottom: 15px;
  background-color: black;
  border-radius: 50%;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.178);
}

.album_medio{
  position: relative;
  
}

/*SECCIÓN 3 BRAYAN*/

@font-face {
  font-family: 'deezer';
  src: url('../fonts/deezer-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

/* =============== Scrollbal =============== */

::-webkit-scrollbar
{
  width: 12px;
  padding: 0 10px;
}
::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #1D1D26;
  border: 1px solid #32323D;
}
::-webkit-scrollbar-thumb
{
  background-color: #52525D;
  border-radius: 15px;
}

/* =============== FAQ ===============*/

a {
  color: var(--color-white-color);
}

.faq-titulo{
  font-family: var(--font-deezer-font);
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--color-white-color);
  text-align: center;
  line-height: 1.1;
  margin-top: 4.5rem; margin-bottom: 2.2rem;
  margin-left: -13px;
}

.faq-accordion {
  background: transparent;
  display: grid;
  grid-template-columns: 1fr auto;
  margin-left: 24.7%;
  color: #fff;
  font-family: var(--font-deezer-font);
  cursor: pointer;
  padding: 18px;
  width: 49.1%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.8rem;
  font-weight: 700;
  transition: 0.4s;
}

.faq-panel {
  margin-left: 20.8rem;
  width: 590px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: var(--color-white-color);
}

.faq-section .faq-panel p {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 25px; 
  
}

.faq-section .faq-panel p:nth-child(2){
  margin-top: 13px;
}

.faq-section .faq-panel p:nth-child(3){
  margin-bottom: 13px;
}

.faq-section .faq-bottom{
  font-family: var(--font-deezer-font);
  color: var(--color-gray-color);
  margin-top: 9.8rem; margin-bottom: 9rem;
  margin-left: 21rem; 
  font-size: 12px;
  line-height: 25px;
  width: 600px;
  display: flex;
  position: relative;
}

/* =============== FOTER ===============*/

  a{
    text-decoration: none;
  }

  .faq-footer{
    border-top: 1px solid #32323D;
    padding: 3.5rem 7.95rem; 
    margin-top: 6.7rem; margin-bottom: 3.5rem;
    background: #121216;
  }

  .faq-grid{
    color: #fff;
  }

  .faq-descargas{  
    justify-items: center;
    justify-content: center;
    margin-top: 1.15rem;
  }

  .faq-descargas-list{
    margin-left: calc(50% - 10rem);
    width: 31.5%;
    display: grid;
    gap: 7px;
    grid-template-rows: 3rem;
    grid-template-columns: repeat(2, 150px 150px);
    align-items: center;
    justify-items: center;
  }

  .faq-lista{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 3.23rem;
    font-family: sans-serif;
  }

  .faq-bloque h3{
    margin-bottom: 1.6rem;
    font-size: .9rem;
  }

  .faq-bloque ul li{
    margin-bottom: 10px;
    color: #BEBEC7;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: .5px;
    list-style: none !important;
    line-height: 30px !important;
  }

  .faq-redes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 13.5rem;
    align-items: end;
    margin-left: -10px; margin-right: 10px;
    margin-top: 4.4rem;
  }

  #ventajas{
    width: 100px; 
    margin-left: 66px
  }

  #explorar{
    margin-left: 23px
  }

  #quienes{
    width: 130px; 
    margin-left: 43px
  }

  #legal{
    margin-left: -5px
  }

  .faq-bloque-redes ul{
    display: flex;
    justify-content: initial;
    align-items: center;
    column-gap: 9px;
    font-size: 21px;
  }

  .faq-bloque-redes ul li{
    list-style: none;
    margin-left: 17px;

  }

  .faq-img-deezer{
    margin-left: -7px;
    margin-bottom: -4px;
  }

  .faq-idioma{
    display: grid; 
    grid-template-columns:7rem 7rem;
    font-family: sans-serif;
  }

  .faq-idioma label{
    color: #818181; 
    font-size: 14px;
  }

  .faq-idioma #cars{
    font-size: 14px; 
    margin: 0 0 0 -10px; 
    color: #d3d3d3;
    border: 0px; 
    cursor:pointer; 
    background: transparent;
  }

  .faq-idioma option{
    color: #000;
    font-size: 11px;
  }
