@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root{
    --body-color:#121216;
    --title-font:'Questrial', sans-serif;
    --body-font:'Roboto', sans-serif;
}

@font-face {
  font-family:Mabry;
  src: url(../MabryPro-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--body-color);
    color: white;
    font-family: var(--body-font);
}

h1, h2{
    font-family: Mabry;
    text-align: center;
    font-weight: 400;
}

h1{
    font-size: 42px;
}

a{
    text-decoration: none;
    color: white;
}

nav{
    padding: 20px 60px 20px 50px;
    height: 115px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 12px;
    font-weight: bold;
    position: relative;
}

nav::before{
  content: "";  
  inset: 0;
  width: 72%;
  height: 55vh;
  background: linear-gradient(126.05deg,rgb(241 42 42/90%) 25.95%,#bf1ceb 44.46%,#06ad57 65.35%,rgb(6 173 87/60%) 76.7%);;
  border-radius:100%;
  filter: blur(90px) opacity(.35);
  margin: 0 auto;
  top: 50px;
  z-index: -10;
  position: absolute;
}

.socio_tigo img{
  width: 20px;
  height: 20px;
}

.socio_tigo span{
  margin-bottom: 18px;
}

.socio_tigo{
  padding:20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(82 82 93);
  border-radius: 10px;
}

.login_button{
  height: 42px;
  padding: 8px 16px;
  font-size: 12px;
  text-transform: uppercase;
  background-color: var(--body-color);
  color: white;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 100px;
  font-weight: bold;
}

.title{
    margin: 48px 0;
}

.container_cards{
    margin: 48px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
}

.plan_description{
    font-size: 16px;
    font-weight:normal
}

.logo_deezer{
    height: 24px;
    width: 117px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.plan_card{
    max-width: 600px;
    width: 100%;
    padding: 24px 80px 16px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.purple_card{
    background: linear-gradient(57.8deg,#6b42b4 9.75%,#943aab 95.44%);
    margin-bottom: 25px;
}

.yellow_card{
    background: linear-gradient(53.13deg,#dc4c11 10.71%,#feab2e);
    margin-bottom: 25px;
}

.blue_card{
  background: linear-gradient(69.06deg,#b84fdd -26.76%,#4965f4 44.6%,#2efb74 132.54%);
}

.plan_card h2{
    margin: 0 0 18px;
    font-size: 38px;
    line-height: 45px;
    max-width: 300px;
}

.button_card{
    background-color: var(--body-color);
    filter: drop-shadow(0 10px 16px rgba(0,0,0,.3)) drop-shadow(0 16px 32px rgba(0,0,0,.1));
    border-radius: 400px;
    padding: 8px 20px;
    margin:24px 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    width: 338px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_information{
    font-size: 14px;
    margin-bottom: 6px;
}

.time_card{
    font-size: 32px;
    font-weight: bold;
}

.price_card{
    font-size: 16px;
    margin-bottom: 24px;
}

.link{
    text-decoration: underline;
    opacity: 0.7;
}

.logo_tigo{
    width: 25px;
    margin-top: 24px;
}

.socio_card{
    background: linear-gradient(180deg,#202122,#3a3b47 55.56%);
    margin-bottom: 25px;
}

.socio_card .button_card{
    margin-bottom: 0;
}

.dropdown{
  display: flex;
  flex-direction: row;
  max-width: 600px;
  width: 100%;
  border: 1px solid rgb(146 146 157);
  border-radius: 100px;
  justify-content: center;
  position: relative;
  padding: 9px 60px;
  font-weight: bold;
}

.discount{
  padding: 3px 10px;
  border-radius: 100px;
  position: absolute;
  margin: 0 8px 0 0;
  line-height: 1.3333;
  right: 0;
  top: 4.5px;
}

.label_hide, .label_hide_two{
  width: 100%;
  max-width: 600px;
}

.mabry{
  font-family: Mabry;
}


.card_one, .card_two{
  display: none;
}

.drop_one, .drop_two{
  cursor: pointer;
}

#hide:checked ~ .card_one, #hide_two:checked ~ .card_two{
  display: flex;
}

#hide:checked ~ .label_hide, #hide_two:checked ~ .label_hide_two{
  display: none;
}

input[type=radio]{
  display: none;
}