*{
  margin: 0; padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family:deezer;
  src: url(./deezer-regular.ttf);
}

 :root{
  --titulos_medio:deezer;
  --parrafos_medio:'Roboto', sans-serif;
 }

.h2_medio{
  font-family: var(--titulos_medio);
  font-size: 42px;
  font-weight:700;
  width: 640px;
  height: auto;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.h3_medio{
   font-family: var(--titulos_medio);
   font-size: 29px;
}
.contenidos_medio{
   background-color: rgb(12, 12, 16);
}

.contenido_1{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: white;
}

.botones{
  background-color: white;
  border-radius: 100px;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 45px;
  padding: 20px 37px;
  text-align: center;  
}

.descubrir{
  font-family: var(--parrafos_medio);
  text-decoration: none; 
  color: black;
  font: size 14px;
  width: auto;
  height: auto;
  font-weight: bold;
  

}

.parrafos_medio{
  color: #BEBEC7;
  font-family:var(--parrafos_medio);
  margin-top: 20px;
  text-align: center;
  font-size:16px;
  width: 600px;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
}

.imagenes_medio{
  max-width: 760px;
}

.imagenes_galeria{
  width: 215px;
}

.galeria{
  overflow: hidden;
   display:flex;
  text-align: center;
  justify-content: center;
 }

.pares_galeria{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}


.imagen_corazon{
  position: relative;
}

.texto_imagen{
  font-family: var(--parrafos_medio);
  font-size: 16px;
  font-weight: bold;
  color: black;
  position: absolute;
  bottom: 10px;
  margin: 0 auto;
  left: calc(50% - 45px);
}

.parrafos_galeria{
  color: #BEBEC7;
  font-family:var(--parrafos_medio);
  margin-top: 10px;
  font-size: 16px;
}

.linea_divisoria{
  background-color: #32323d;
  width:200px;
  height: 2px;
  margin: 0 auto;
}

.conjunto_division{
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  width: auto;
  height: auto;
}

.novedades{
   color: white;
   font-family:var(--parrafos_medio);
   font-size: 14px;
   margin-bottom: 25px;
   width: 90px;
   height: auto;
   } 

  .pares_galeria i{
   font-size: 26px;
   position: absolute;
   left: 10px;
   bottom: 15px;
   background-color: black;
   border-radius: 50%;
   text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.178);
  }
  .album_medio{
    position: relative;
    
  }